extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='username') Username
      .col-sm-7
        input.form-control(type='text', name='username', id='username', value=user.username)
    .form-group
      label.col-sm-3.control-label(for='firstname') First Name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname', value=user.profile.firstname)
    .form-group
      label.col-sm-3.control-label Sex
      .col-sm-6
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='male', name='sex', value='male', data-toggle='radio')
          span Male
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='female', name='sex', value='female', data-toggle='radio')
          span Female
        label.radio.col-sm-3
          input(type='radio', checked=user.profile.gender=='other', name='sex', value='other', data-toggle='radio')
          span Other
          .page-header
            h4 Address
    .form-group
      label.col-md-3.control-label(for='location') Number
      .col-md-7
        input.form-control(type='text', name='number', id='number', value=user.profile.address.number)
      label.col-md-3.control-label(for='location') Street
      .col-md-7
        input.form-control(type='text', name='street', id='street', value=user.profile.address.street)
      label.col-md-3.control-label(for='location') Zipcode
      .col-md-7
        input.form-control(type='text', name='zipcode', id='zipcode', value=user.profile.address.zipcode)
      label.col-md-3.control-label(for='location') City
      .col-md-7
        input.form-control(type='text', name='city', id='city', value=user.profile.address.city)
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Update Profile

  .page-header
    h3 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

  .page-header
    h3 Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group
      p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-offset-3.col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account
