extends layout

block content
    for shoes in sneakersdes
        .page-header
            .row
                .col-sm-4
                        form.form-horizontal(id='add-basket', method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)
                            .form-group
                                label= shoes.brand + ' ' + shoes.model
                                input(type='hidden', name='shoes', value=shoes)
                                img(class="thumb" src='/img/'+ shoes.model + '.jpg')
                                h3 Description :
                                label
                                    h4= shoes.description
                                    h4= 'Lieux : ' + shoes.place
                                    h4= 'Prix : ' + shoes.price + 'e'
                                br
                                br
                                if auth
                                  a(href='/add-to-basket/'+shoes._id class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true") Commander
                                else
                                    button.btn.btn-primary.btn-lg.btn-block(type='submit')(disabled) Commander
                                    br
                                    p
                                        |Merci de vous
                                        a( href='/login') connecter
                                        | ou
                                        a( href='/signup')  creer un compte
