extends layout
block content
    for shoes in sneakersdes
        .page-header
            .row
                .col-sm-4
                        form.form-horizontal(action="/basket", method='POST')
                            input(type='hidden', name='_csrf', value=_csrf)
                            .form-group
                                h2= shoes.brand + ' - ' + shoes.model
                                input(type='hidden', name='model', value=shoes.model)
                                input(type='hidden', name='brand', value=shoes.brand)
                                img(class="thumb" src='/img/'+ shoes.model + '.jpg')
                                h3 Description :
                                h4= shoes.description
                                h4= 'Place : ' + shoes.place
                                h4= 'Price : ' + shoes.price + 'e'
                                input(type='hidden', name='price', value=shoes.price)
                                #size

                                #location

                                #command

                                #connect


    script.
        var size =!{JSON.stringify(size)};
        var auth =!{JSON.stringify(auth)};

        console.log(auth);

        function isEmpty(size) {
            for(var prop in size) {
                if(size.hasOwnProperty(prop))
                    return false;
            }

            return true;
        }

        if(isEmpty(size)){
            document.getElementById('size').innerHTML = '<h4>This sneakers is sold out !</h4>';
            document.getElementById('command').innerHTML = '<button class="btn btn-primary btn-lg btn-block" type="submit" disabled>Add to basket</button>';
        }else{
            if(auth){
                var html = "<div class='pointure'>Size <select name='size'>";
                size.forEach(function (size) {
                    html += "<option value='"+size.size+"'>"+size.size+"</option>";
                });
                html+= "</select></div></br>";
                document.getElementById('size').innerHTML = html;

                var html2 = "<div> Duration : ";
                html2+= "<select name='duree'>";
                html2+="<option value='1'>1 days</option>";
                html2+="<option value='2'>2 days</option>";
                html2+="<option value='3'>3 days</option>";
                html2+="<option value='4'>4 days</option>";
                html2+="<option value='5'>5 days</option>";
                html2+="<option value='6'>6 days</option>";
                html2+="<option value='7'>7 days</option>";
                html2+="</select></div></br>";

                document.getElementById('location').innerHTML = html2;
                document.getElementById('command').innerHTML = '<button class="btn btn-primary btn-lg btn-block" type="submit">Add to basket</button>';
            }
            else{
                document.getElementById('command').innerHTML = '<button class="btn btn-primary btn-lg btn-block" type="submit" disabled>Add to basket</button></br>';
                document.getElementById('connect').innerHTML = '<p>Thanks to <a href="/login">login</a> or<a href="/signup"> sign up</a></p>';
            }
        }
